/* LAPTOP */
@media screen and (width <=1366px) {
    html {
        font-size: 85%;
    }

    /* NAVBAR START */
    /* NAVBAR END */
}

/* NOTEBOOK */
@media screen and (width <=1200px) {
    html {
        font-size: 75%;
    }

    /* NAVBAR START */
    /* NAVBAR END */
}

/* TABLET */
@media screen and (width <=768px) {
    html {
        font-size: 62.5%;
    }

    [class*="hamburger-menu"] {
        display: inline-block;
    }


    /* NAVBAR START */
    .navbar__nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100dvh;
        transition: 0.3s;
    }

    .navbar__item {
        display: block;
        color: var(--bg);
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar__item::after {
        transform-origin: 0 0;
    }

    .navbar__item:hover::after {
        transform: scaleX(0.2);
    }

    [class*="appear-menu"] {
        right: 0;
    }

    /* NAVBAR END */

    /* ABOUT */
    .about__row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about__img {
        height: 24rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .about__description {
        padding: 0;
    }

    .about__description__title {
        margin-top: 1rem;
    }

    /* ABOUT END */

    /* CONTACT */
    .contact__row {
        flex-wrap: wrap;
    }

    .contact__location {
        height: 30rem;
    }

    .form {
        padding-top: 0;
    }

    /* CONTACT END */
}

/* SMARTPHONE */
@media screen and (width <=450px) {
    html {
        font-size: 55%;
    }

    /* NAVBAR START */
    /* NAVBAR END */


}